# Class files
KPSmart/bin/
/bin/

# Eclipse config files - Nope gonna keep these too
#KPSmart/.classpath
#KPSmart/.project
KPSmart/.settings/
.settings

# Ignoring LogFile
logfile.xml

# Doc files
/doc
